body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Consolas", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #131516;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.container {
  max-width: 1650px;
  width: 100%;
  margin: auto;
  clear: both;
  display: block;
}

header {
  background-color: black;
  color: #dee2e6;
  text-align: center;
  font-size: 0.9rem;
  padding: 10px;
}

header h1 {
  margin: 0;
}

table {
  max-width: 1650px;
  width: 100%;
  margin: auto;
  color: #dee2e6;
  text-align: left;
}

table img {
  border-radius: 50px;
  height: 48px;
  width: 48px;
}

tr:nth-child(even) {
  background-color: #1e2224;
}

td,
th {
  padding: 0px;
}

td
{
  border-collapse: collapse;
}

thead button::after {
  content: "↕";
  display: inline-block;
  margin-left: 1em;
}

thead button {
  background: transparent;
  padding: 5px;
  margin: 0;
}

thead button.ascending::after {
  content: "↑";
  display: inline-block;
  margin-left: 1em;
}

thead button.descending::after {
  content: "↓";
  display: inline-block;
  margin-left: 1em;
}

.App {
  text-align: center;
  padding-top: 2rem;
}

.search input,
.form-group input {
  display: block;
  width: 95%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #dee2e6;
  background-color: #131516;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  font-family: -apple-system, BlinkMacSystemFont, "Consolas", "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.search {
  max-width: 300px;
}

.form-group {
  padding-bottom: 10px;
}

button {
  font-size: 1rem;
  font-weight: 700;
  border: none;
  padding: 5px;
  color: #dee2e6;
  text-align: start;
  font-family: -apple-system, BlinkMacSystemFont, "Consolas", "Segoe UI", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.select-season,
.select-country {
  color: #dee2e6;
  float: left;
  margin: 10px 0;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #dee2e6;
  background-color: #131516;
  background-clip: padding-box;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  margin-right: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Consolas", "Segoe UI", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

.pagination {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  list-style: none;
  border-radius: 0.25rem;
  text-align: center;
}

.page-link {
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #dee2e6;
  background-color: #131516;
  border: 1px solid #dee2e6;
}
